{% extends "base.html" %}

{% load static %}

{% block content %}
    {% spaceless %}
        <div class="detail">
            <div>
                <ol class="breadcrumb">
                    <li><a href="/">Головна</a></li>
                    <li><a href="{% url 'articles-list' %}">Публікації</a></li>
                    <li>{{ item.title|upper }}</li>
                </ol>
            </div>
            <div>
                <h2>
                    {{ item.title }}
                </h2>
                <h6>
                    {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
                </h6>
            </div>
            <div>
                <p class="description">{{ item.description|escape|safe }}</p>
                {% if item.images.all %}
                    {% include 'fotorama.html' with images=images %}
                {% endif %}
            </div>
            <div class='clearfix'></div>
        </div>

    {% endspaceless %}
{% endblock %}
